body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #666;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.task {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.task a {
    text-decoration: none;
    color: #007BFF;
}